@import "tailwindcss";

/* Шаблон дээр зайлшгүй хэрэгтэй хувьсагчууд болон sr-only класс */
:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}


/* Markdown эсвэл нийтлэлийн контент доторх гарчигнуудыг ялгаруулах */
.prose h2, article h2 {
  font-size: 1.75rem;     /* Том хэмжээ */
  font-weight: 800;       /* Маш тод (Extra Bold) */
  color: #111827;         /* Хар өнгө */
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f3f4f6; /* Доороо цэвэрхэн зураастай болгож болно */
  padding-bottom: 0.5rem;
}

.prose h3, article h3 {
  font-size: 1.25rem;     /* H2-оос арай жижиг */
  font-weight: 600;       /* Хагас тод (Semi Bold) */
  color: #4b5563;         /* Арай цайвар сааралдуу өнгө (H2-оос ялгаруулахын тулд) */
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}